.gallery-figcaption--info,
.gallery-modal--close,
.gallery-control {
    display: none;
}

.gallery-figcaption--thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.media-image {
    height: 100%;
    width: 100%;
}
